<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OnTopReplica.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  
    <userSettings>
      <OnTopReplica.Properties.Settings>
       <setting name="Opacity" serializeAs="String">
        <value>255</value>
       </setting>
       <setting name="Language" serializeAs="String">
        <value>(Default)</value>
       </setting>
       <setting name="MustUpdate" serializeAs="String">
        <value>True</value>
       </setting>
       <setting name="ClickThrough" serializeAs="String">
        <value>True</value>
       </setting>
       <setting name="FirstTimeClickThrough" serializeAs="String">
        <value>True</value>
       </setting>
       <setting name="FirstTimeClickForwarding" serializeAs="String">
        <value>True</value>
       </setting>
       <setting name="FullscreenAlwaysOnTop" serializeAs="String">
        <value>False</value>
       </setting>
       <setting name="RestoreSizeAndPosition" serializeAs="String">
        <value>False</value>
       </setting>
       <setting name="RestoreLastSize" serializeAs="String">
        <value>0, 0</value>
       </setting>
       <setting name="RestoreLastPosition" serializeAs="String">
        <value>0, 0</value>
       </setting>
       <setting name="RestoreLastWindow" serializeAs="String">
        <value>False</value>
       </setting>
       <setting name="RestoreLastWindowClass" serializeAs="String">
        <value/>
       </setting>
       <setting name="RestoreLastWindowTitle" serializeAs="String">
        <value/>
       </setting>
       <setting name="RestoreLastWindowHwnd" serializeAs="String">
        <value>0</value>
       </setting>
       <setting name="HotKeyCloneCurrent" serializeAs="String">
        <value>[CTRL]+[SHIFT]+C</value>
       </setting>
       <setting name="HotKeyShowHide" serializeAs="String">
        <value>[CTRL]+[SHIFT]+O</value>
       </setting>
       <setting name="FullscreenMode" serializeAs="String">
        <value>Standard</value>
       </setting>
       <setting name="RestoreLastShowChrome" serializeAs="String">
        <value>True</value>
       </setting>
      </OnTopReplica.Properties.Settings>
    </userSettings>

  <!-- Runtiome support declaration -->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>

  <!-- Windows Forms configuration for .NET 4.7 -->
  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2"/>
  </System.Windows.Forms.ApplicationConfigurationSection>

</configuration>
